global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: "exporters_collector"
    static_configs:
      - targets:
{% for host in groups['all'] %}
          - "{{ host }}:{{ node_exporter_port }}"
{% endfor %}
